<!DOCTYPE html>
<html>
<head>
    <title>Things</title>
    <style>
        .item {
            display: flex;
            align-items: center;
        }
        .item form {
            margin-right: 1em;
        }
    </style>
</head>
<body>
    <h1>Things</h1>
    <form action="/" method="post">
        <input type="text" name="thing_name" required>
        <input type="submit" value="Add Thing">
    </form>
    <ul>
    {% for thing in things %}
        <li class="item">
            <form action="/delete/{{ thing.id }}" method="post">
                <input type="submit" value="Delete">
            </form>
            {{ thing.name }}
        </li>
    {% endfor %}
    </ul>
</body>
</html>