<!DOCTYPE html>
<html>
<head>
    <title>Things</title>
    <style>
        .item {
            display: flex;
            align-items: center;
        }
        .item form {
            margin-right: 1em;
        }
    </style>
    <script>
        function deleteThing(id) {
            fetch('/delete/' + id, { method: 'POST' })
                .then(response => location.reload());
        }
    </script>
</head>
<body>
    <h1>Things</h1>
    <form action="/" method="post">
        <input type="text" name="thing_name" required>
        <input type="submit" value="Add Thing">
    </form>
    <form action="/bulk_delete" method="post">
        <ul>
        {% for thing in things %}
            <li class="item">
                <input type="checkbox" name="ids" value="{{ thing.id }}">
                <button type="button" onclick="deleteThing({{ thing.id }})">Delete</button>
                {{ thing.name }} ({{ thing.date_added.strftime('%Y-%m-%d %H:%M:%S') }})
            </li>
        {% endfor %}
        </ul>
        <input type="submit" value="Delete Selected">
    </form>
</body>
</html>